#heading {
  font-family: Arial, Helvetica, sans-serif;
}

#list {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: aquamarine;
}

div {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 200px;
}
img {
  width:200px;
  height: 100px;
}
