#heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
 background: lightcyan;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 30px;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: end;
}

div {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 200px;
}
img {
  width:200px;
  height: 100px;
}


